
.board{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    width: 30em;
    height: 30em;
    background-color: rgba(0,0,0,0.15);
}


.board-row{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 9.5em;
}


