
// ------------------------------------------------------ Colors -------------------------------------------------------

$primary-color: #f8f8f8;
$secondary-color: #14bdac;
$main-text-color: #999999;
$secondary-text-color: #484848;
$highlight-text-color: #4FC3F7;
$background-color: $primary-color;
$board-lines-color: rgba(0, 0, 0, 0.15);
$highlight-background-color: #eeeeee;

$spotlight-color: rgba(255, 235, 59, 1);
$winner-color: #FFF176;

// ------------------------------------------------------ Fonts --------------------------------------------------------

$font-size-base-text: 1rem;
