@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto|Roboto+Condensed:300&display=swap');
@import "./styles/config.scss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-size: $font-size-base-text;
  font-family: Roboto, sans-serif;
  background-color: $background-color;
}

